---
title: 404
css:
- reset.css
- layout.less
- 404.less
---

{{#extend "base"}}
{{#content "main"}}
    <div class="page-404">
        <div class="page-404__content">
            <span  class="page-404__title">404</span>
            <span  class="page-404__subtitle">Не туда попали</span>
            <a  class="page-404__msg" href="index.hbs"> <span>Назад к чатам</span></a>
        </div>
    </div>
{{/content}}
{{/extend}}