<div class="profile-pass-change">
    {{#each profile.changePasswordFields}}
    <div class="profile-form__field">
        <div class="profile-form__label">
            {{ this.title }}
        </div>
        <input class="profile-form__input" name="{{this.name}}" placeholder="{{ this.placeholder }}" />
    </div>
    {{/each}}
</div>