---
title: 500
css:
- reset.css
- layout.less
- 500.less
---

{{#extend "base"}}
{{#content "main"}}
    <div class="page-500">
        <div class="page-500__content">
            <span  class="page-500__title">500</span>
            <span  class="page-500__subtitle">Мы уже фиксим</span>
            <a  class="page-500__msg" href="index.hbs"> <span>Назад к чатам</span></a>
        </div>
    </div>
{{/content}}
{{/extend}}