---
title: Change password
css:
- reset.css
- layout.less
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      {{> userProfile/userProfile changePassword = true  }}
    </main>
  {{/content}}
{{/extend}}