#modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 40%;
  top: 20%;
  width: 40%; /* Full width */
  height: 40%; /* Full height */
  color: wheat;
  border: 1px solid wheat;
}
.modal_content {
  background-color: violet;
  height: 100%;
}